@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::before, *::after{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}


ul{
  
  @apply flex justify-start gap-6 pt-4 ml-8 mr-96
}

.header{
  @apply flex gap-72 bg-black h-16
}
.button{
  @apply pt-2 
}