@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::before, *::after{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}


ul{
  
  @apply flex justify-start gap-6 pt-4 ml-8 mr-96 
}

.header{
  @apply flex gap-72 bg-black h-16 border-b-4 border-b-red-700 fixed top-0 left-0 right-0 z-50
}
.button{
  @apply pt-2 
}

.header{
  font-family: "Oswald", sans-serif;
}




.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-trigger {
  padding: 10px 15px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  /* Align to right edge */
  background-color: #de27a1;
  padding: 10px;
  list-style: none;
  width: 150px;
  /* Set width for the dropdown */
  max-height: 200px;
  /* Set max height for scrolling */
  overflow-y: auto;
  /* Enable vertical scroll */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  /* Add a slight shadow */
}

.dropdown-list {
  padding: 0;
  margin: 0;
}

.dropdown-list li {
  padding: 5px 10px;
  cursor: pointer;
  border-bottom: 1px solid RED;
  /* Add border for separation */
}


.black{
  font-family: "Oswald", sans-serif;
  background-color: black;
}